<h1>Display</h1>



<!--iterating through the person.id-->
<% @people.each do |person| %>
    <p style= "font-family: <%= person.font %>;">Person #<%=person.id%> in the database.</p>
    <!--boxes in the display page-->
    <p style= "width:<%= person.weight %>mm;
    height:<%= person.height %>px;
    background-color: <%= person.color %>;
    font-family: <%= person.font %>;
    font-size: <%= Math.sqrt(person.weight)*3 %>px;
    border:1px solid #000;
    position:relative;
    animation-name: happy;
    animation-duration: 1s;
    animation-iteration-count: <%=person.happy%>;"> <%= person.name %>'s box with <%=person.happy%> happy jumps </p>
<% end %>

<!--button for back to people and scrolls with the page in a fixed spot-->
<div style= "position:fixed;
top: 10cm; 
right: 3cm;"> 
<%= button_to 'Back to people', people_path, :class => "submit", :method => :get %></div>